[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydgraph = "1.0.3"
mysqlclient = "1.4.2.post1"
schematics = "2.1.0"

[dev-packages]
black = "19.3b0"
pytest = "4.3.1"
snapshottest = "0.5.0"

[requires]
python_version = "3.6"
